Adresat/Service References/RegjistriCivil/Sherbimi_Regjistri.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="validoNrPersonal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NrPersonal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="validoNrPersonalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="validoNrPersonalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lexoRegjistrinCivil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NrPersonal" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lexoRegjistrinCivilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lexoRegjistrinCivilResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="validoNrPersonalSoapIn">
    <wsdl:part name="parameters" element="tns:validoNrPersonal" />
  </wsdl:message>
  <wsdl:message name="validoNrPersonalSoapOut">
    <wsdl:part name="parameters" element="tns:validoNrPersonalResponse" />
  </wsdl:message>
  <wsdl:message name="lexoRegjistrinCivilSoapIn">
    <wsdl:part name="parameters" element="tns:lexoRegjistrinCivil" />
  </wsdl:message>
  <wsdl:message name="lexoRegjistrinCivilSoapOut">
    <wsdl:part name="parameters" element="tns:lexoRegjistrinCivilResponse" />
  </wsdl:message>
  <wsdl:portType name="SherbimiSoap">
    <wsdl:operation name="validoNrPersonal">
      <wsdl:input message="tns:validoNrPersonalSoapIn" />
      <wsdl:output message="tns:validoNrPersonalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="lexoRegjistrinCivil">
      <wsdl:input message="tns:lexoRegjistrinCivilSoapIn" />
      <wsdl:output message="tns:lexoRegjistrinCivilSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SherbimiSoap" type="tns:SherbimiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validoNrPersonal">
      <soap:operation soapAction="http://tempuri.org/validoNrPersonal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lexoRegjistrinCivil">
      <soap:operation soapAction="http://tempuri.org/lexoRegjistrinCivil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SherbimiSoap12" type="tns:SherbimiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="validoNrPersonal">
      <soap12:operation soapAction="http://tempuri.org/validoNrPersonal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lexoRegjistrinCivil">
      <soap12:operation soapAction="http://tempuri.org/lexoRegjistrinCivil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sherbimi">
    <wsdl:port name="SherbimiSoap" binding="tns:SherbimiSoap">
      <soap:address location="http://localhost/RegjistriCivil/Sherbimi_Regjistri.asmx" />
    </wsdl:port>
    <wsdl:port name="SherbimiSoap12" binding="tns:SherbimiSoap12">
      <soap12:address location="http://localhost/RegjistriCivil/Sherbimi_Regjistri.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>